/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/





// #SELECTION
// =========================================================================

::selection {
    background: color(primary);
    color: #fff;
  }




// #DARK
// =========================================================================

body {

  @if $is-dark {
    background: color(black);
  }
}