/*
|--------------------------------------------------------------------------
| #MODALS
|--------------------------------------------------------------------------
*/




.modal,
.variation-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: z(higher);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: all .2s ease(bouncy);

    &.modal-open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);

        > * {
            pointer-events: all;
        }
    }

    .block {
        border-top: solid .2rem color(primary);
    }
}

