/*
|--------------------------------------------------------------------------
| #FORMS
|--------------------------------------------------------------------------
*/


label {
    font-weight: $display-weight;
}

.form-row {
    display: flex;

    .field {
        flex: 1 1 auto;
        margin-right: $gutter * .5;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.field {
    margin-bottom: $gutter * .5;

    input {
        margin-bottom: 0;
    }
    
    &-helper {
        font-size: ms(-1);
        line-height: 1;
    }

    @each $state in $states {

        &.field-#{$state} {
            
            @if $state == 'light' {
                
                .field-helper {
                    color: color(grey, 20);
                }

            } @elseif $state == 'dark' {

                .field-helper {
                    color: color(grey, 80);
                }
                
            } @else {
                
                .field-helper {
                    color: color(#{$state}, light);
                }

            }

        }

    }
}
