/*
|--------------------------------------------------------------------------
| #VISUALLY HIDDEN
|--------------------------------------------------------------------------
*/



%visually-hidden,
.--visually-hidden {
    position: absolute !important;
    opacity: 0 !important;
    visibility: hidden !important;
}
