/*
|--------------------------------------------------------------------------
| #BACKGROUND COLORS
|--------------------------------------------------------------------------
*/




.--has-background-primary {
    background: color(primary);    
}

.--has-background-secondary {
    background: color(secondary);    
}

.--has-background-info {
    background: color(info);    
}

.--has-background-success {
    background: color(success);    
}

.--has-background-error {
    background: color(error);    
}

.--has-background-warning {
    background: color(warning);    
}

.--has-background-white {
    background: color(white);    
}

.--has-background-black {
    background: color(black);    
}
