/*
|--------------------------------------------------------------------------
| #OFF CANVAS
|--------------------------------------------------------------------------
*/




.off-canvas {
    position: fixed;
    top: 0;
    right: 0;
    padding: $gutter;
    z-index: z(highest);
    height: 100%;
    width: 300px;
    background: color(white);
    transform: translateX(300px);
    visibility: hidden;
    transition: all .2s ease(inOutSine);

    @if ($has-shadow) {
        box-shadow: -3px 0 0 0 rgba(color(black), .1);
    }

    &.is--open {
        visibility: visible;
        transform: translateX(0);
    }

    &-left {
        left: 0;
        right: auto;
        transform: translateX(-300px);
    }

    &-menu {

        li {
            border-bottom: solid 1px color(grey-20);

            &:last-of-type {
                border-bottom: none;
            }

            .mega-menu {
                display:none;
            }
        }

        a {
            display: block;
            padding: $gutter * .15 $gutter * .5;
            color: color(font);
            font-size: ms(2);
            text-decoration: none;
        }
    }
}

