/*
|--------------------------------------------------------------------------
| #TOOLTIPS
|--------------------------------------------------------------------------
*/


[data-tooltip] {
    position: relative;
    white-space: nowrap;

    &:hover {

        &:before,
        &:after {
            display: block;
        }
    }
    
    &:before {
        content: attr(data-tooltip);
        position: absolute;
        z-index: z(high);
        display: none;
        top: calc(-100% - (#{$gutter} * .75));
        left: 50%;
        transform: translateX(-50%);
        color: color(grey, 20);
        font-size: .9rem;
        background: color(grey, 90);
        padding: $gutter * .15 $gutter * .5;

        @if $has-radius {
            border-radius: radius(small);
        }
    }

    &:after{
        content: '';
        position: absolute;
        z-index: z(low);
        display: none;
        top: calc(-100% + (#{$gutter} * .15));
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        height: 10px;
        width: 10px;
        background: color(grey, 90);

        @if $has-radius {
            border-radius: radius(small);
        }
    }

    &.tooltip-bottom {
        
        &:before {
            top: auto;
            bottom: calc(-100% - (#{$gutter} * .25));
            left: 50%;
        }

        &:after {
            top: auto;
            bottom: calc(-100% + (#{$gutter} * .8));
            left: 50%;
        }
    }

    &.tooltip-left {
        
        &:before {
            top: 50%;
            left: calc(100% + (#{$gutter} * .5));
            transform: translateY(-50%);
        }

        &:after {
            top: 50%;
            left: calc(100% + (#{$gutter} * .35));
            transform: translateY(-50%) rotate(45deg);
        }
    }

    &.tooltip-right {
        
        &:before {
            top: 50%;
            left: auto;
            right: calc(100% + (#{$gutter} * .5));
            transform: translateY(-50%);
        }

        &:after {
            top: 50%;
            left: auto;
            right: calc(100% + (#{$gutter} * .35));
            transform: translateY(-50%) rotate(45deg);
        }
    }
}
