/*
|--------------------------------------------------------------------------
| #PROGRESS
|--------------------------------------------------------------------------
*/




progress {
    width: 100%;
}

progress[value] {
    appearance: none;

    &::-webkit-progress-bar {
        background: color(grey, 30);
        border-radius: 1000000px;
    }

    &::-webkit-progress-value {
        background: color(primary);
        border-radius: 1000000px;
    }
}
