/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/


// Variables
// =========================================================================

$introBGHeight: 225px;


// Content
// =========================================================================

.content {
    position: relative;
    padding-top: $gutter * 6;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        height: $introBGHeight;
        width: 100%;
        background: color(grey, 20);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23868e96' fill-opacity='0.18' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    }
}

.page-title {
    color: rgba(color(display), .75);
}
