/*
|--------------------------------------------------------------------------
| #TABLES
|--------------------------------------------------------------------------
*/

.table {
    
    &-name {
        color: color(font);
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: color(primary);
        }

        &:before {
            font-weight: normal;
        }
    }

    &-object {
        display: flex;
        align-items: center;
        
        .avatar {
            margin-right: $gutter * .25;
        }
    }
}
