/*
|--------------------------------------------------------------------------
| #MARGIN
|--------------------------------------------------------------------------
*/



.--has-margin {
    margin: $gutter;

    &-top {
        margin-top: $gutter;
    }

    &-right {
        margin-right: $gutter;
    }

    &-bottom {
        margin-bottom: $gutter;
    }

    &-left {
        margin-left: $gutter;
    }
}

.--has-no-margin {
    margin: 0 !important;

    &-top {
        margin-top: 0 !important;
    }

    &-right {
        margin-right: 0 !important;
    }

    &-bottom {
        margin-bottom: 0 !important;
    }

    &-left {
        margin-left: 0 !important;
    }
}
