/*
|--------------------------------------------------------------------------
| #RADIUS
|--------------------------------------------------------------------------
*/



.--has-radius-small {
    border-radius: radius(small);
}

.--has-radius-medium {
    border-radius: radius(medium);
}

.--has-radius-large {
    border-radius: radius(large);
}

.--has-radius-large {
    border-radius: radius(round);
}

.--has-radius-circle {
    border-radius: radius(circle);
}
